@font-face {
    font-family: "policetitre";
    src: url("polices/cinema_sunday/cinema_sunday_demo_font.otf");
}

@font-face {
    font-family: "policeCorps";
    src: url("polices/helvetica/HelveticaNowDisplay-Black.ttf");
}

h1 {
    font-family: "policetitre";
}

body {
    font-family: "policeCorps" ;
}