@font-face {
    font-family: "policetitre";
    src: url("polices/cinema_sunday/cinema\ sunday\ demo\ font.otf");
}

@font-face {
    font-family: "policeCorps";
    src: url("polices/helvetica/HelveticaNowDisplay-Black.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "policeCorps";
}

h1 {
    font-family: "policetitre";
    color: rgb(255, 255, 255);
    padding: 2%;
}

p {
    padding: 2%;
}

/* Header */
.main-header {
    background-color: #596882;
    color: white;
    padding: 10px 5%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    font-family: "policeCorps";
}

.header-container {
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

/* Logo */
.logo img {
    height: 60px; 
    border-radius: 50%;
}

/* Menu de navigation */
.nav-menu ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-menu ul li {
    margin: 0 20px;
}

.nav-menu ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-family: "policeCorps";
    transition: color 0.3s;
}

.nav-menu ul li a:hover {
    color: #d1d1d1;
}

/* Cache "Nous contacter" dans le menu sur desktop (il reste dans header-contact) */
.nav-menu ul li:last-child {
    display: none;
}

/* Contact */
.header-contact a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-family: "policeCorps";
    display: flex;
    align-items: center;
}

.header-contact .phone-icon {
    margin-left: 10px;
    height: 0.5em;
    width: auto;
    vertical-align: middle;
    filter: brightness(0) invert(1);
}

/* Responsive HEADER */
.hamburger, .menu-toggle { display: none; } /* cache menu mobile sur PC */

@media screen and (max-width: 1024px) {
    .header-contact { display: none; } 

    /* menu burger*/
    .hamburger {
        display: block;
        cursor: pointer;
        padding: 10px;
    }

    .hamburger span {
        display: block;
        width: 30px;
        height: 4px;
        background-color: white;
        margin: 6px 0;
        border-radius: 2px;
    }

    /* Cache menu par défaut */
    .nav-menu {
        display: none;
        position: absolute;
        top: 80px; /* Sous le header */
        left: 0;
        width: 100%;
        background-color: #5d6d7e;
        text-align: center;
        z-index: 1000;
    }

    .nav-menu ul {
        flex-direction: column; /* Menu vertical */
    }

    .nav-menu ul li {
        margin: 15px 0;
    }

    /* Affiche "Nous contacter" dans le menu burger sur mobile */
    .nav-menu ul li:last-child {
        display: block;
    }

    /* Icone phone */
    .nav-menu .phone-icon {
        margin-left: 8px;
        height: 0.5em;
        width: auto;
        vertical-align: middle;
        filter: brightness(0) invert(1);
    }

    /* Affiche menu au clic*/
    .menu-toggle:checked ~ .nav-menu {
        display: block;
    }
}

/* Footer Global */
.main-footer {
    background-color: #000;
    color: #fff;
    padding: 30px 50px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Arial', sans-serif;
}

/* Icônes RS */
.footer-icons {
    display: flex;
    gap: 15px
}

.footer-icons a {
    color: #fff;
    text-decoration: none;
    font-size: 24px; 
}

/* Nav */
.footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.6;
}

.footer-links a:hover {
    text-decoration: underline;
}

/* Mentions Légales */
.footer-legal a {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    opacity: 0.9;
}

/* Bouton up */
.footer-scroll a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    border: 2px solid #fff;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

