@font-face {
    font-family: "policetitre";
    src: url("polices/cinema_sunday/cinema\ sunday\ demo\ font.otf");
}

@font-face {
    font-family: "policeCorps";
    src: url("polices/helvetica/HelveticaNowDisplay-Black.ttf");
}

h1 {
    font-family: "policetitre";
    color: rgb(255, 255, 255);
    padding: 2%;
}

p {
    padding: 2%;
}

body {
    font-family: "policeCorps" ;
    color: rgb(255, 255, 255);
    background-color: #000000;
}

/*CLASSES*/
.banniere {
    position: relative; 
    height: 15rem;
    background-image: url("images/Fond\ Acceuil.jpg");
    background-size: cover;
    background-position: center;
}

.texte-banniere {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.banniereRDO {
    position: relative; 
    height: 20rem;
    background-image: url("images/RDO.jpg");
    background-size: cover;
    background-position: center;
}

.boutonVisite {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "policeCorps";

}

.boutonVisite:hover {
    background-color: #596882;
    color: white;
}