@font-face {
    font-family: "policetitre";
    src: url("polices/cinema_sunday/cinema\ sunday\ demo\ font.otf");
}

@font-face {
    font-family: "policeCorps";
    src: url("polices/helvetica/HelveticaNowDisplay-Black.ttf");
}

h1 {
    font-family: "policetitre";
    color: rgb(255, 255, 255);
    padding: 2%;
}

p {
    padding: 2%;
}

body {
    font-family: "policeCorps" ;
    color: rgb(255, 255, 255);
    background-color: #000000;
}

/*CLASSES*/
.banniere {
    position: relative; 
    height: 15rem;
    background-image: url("images/Fond\ Acceuil.jpg");
    background-size: cover;
    background-position: center;
}

.texte-banniere {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}
.ateliers {
    text-align: center;
}

.cartes {
    display: flex;
    justify-content: space-around;
}

.carte {
    width: 200px;
    padding: 10px;
    background-color: #a7ad4a; /* change selon ton design */
    text-decoration: none;
    color: black;
}

.carte img {
    width: 100%;
}

.carte p {
    border: 1px solid black;
    padding: 5px;
}
