@font-face {
    font-family: "policetitre";
    src: url("polices/cinema_sunday/cinema\ sunday\ demo\ font.otf");
}

@font-face {
    font-family: "policeCorps";
    src: url("polices/helvetica/HelveticaNowDisplay-Black.ttf");
}

h1 {
    font-family: "policetitre";
    color: rgb(255, 255, 255);
}

body {
    font-family: "policeCorps" ;
    color: rgb(255, 255, 255);
}

body {
    background-color: #000000;
}

/*CLASSES*/
.banniere {
    position: relative; 
    height: 15rem;
    background-image: url("images/Fond\ Acceuil.jpg");
    background-size: cover;
    background-position: center;
}

.texte-banniere {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}